<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free restaurant catalogue for you">
    <link rel="icon" href="./favicon.png">
    <link rel="manifest" href="./app.webmanifest">
    <meta name="theme-color" content="#142b8f"/>
    <link rel="apple-touch-icon" href="/icons/icon-128x128.png">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"/> 


    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <!-- <script src="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"</> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" crossorigin="anonymous">
    <title>Kedai Asian Food</title>
</head>

<body>
    <a href="#content" class="skip-link">Go to content</a>
    <!-- Mobile -->
    <div class="menu__mobile">
        <div class="icon__menu" aria-label="menu Mobile" id="menu"><a href="javascript:void(0)">&#9776;</a></div>
        <div class="logo__mobile">Kedai Asian Food</div>
    </div>
    <nav id="drawer" class="nav__mobile">
        <ul class="nav-lis__mob">
            <li class="nav-item_mob"><a href="/">Home</a></li>
            <li class="nav-item_mob"><a href="#/favorite">Favorite</a></li>
            <li class="nav-item_mob"><a href="https://www.linkedin.com/in/irham-maulana/">About Us</a></li>
        </ul>
    </nav>
    <!-- Desktop -->
    <nav class="nav">
        <a class="logo" href="">KEDAI ASIAN FOOD</a>
        <ul class="nav__list">
            <li class="nav__item"><a href="/">Home</a></li>
            <li class="nav__item"><a href="#/favorite">Favorite</a></li>
            <li class="nav__item"><a href="https://www.linkedin.com/in/irham-maulana/">About Us</a></li>
        </ul>
    </nav>
    <!-- Jumbotron -->
    <div tabindex="0" class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">Kedai dengan Makanan Khas Indonesia</h1>
            <p class="hero__tagline"> Asian Food, rumah makan yang menghidangkan makanan khas Indonesia dengan cita rasa yang khas, membawa Anda dalam perjalanan kuliner mengungkap pesona kuliner Nusantara. Setiap hidangan kami dipersiapkan dengan penuh cinta dan kesempurnaan, menggabungkan rempah-rempah tradisional dan bahan segar yang autentik.
            </p>
            <a href="#content" class="btn">Read More</a>
        </div>
    </div>
    </div>
    <!-- Content -->
    <main tabindex="0" id="content">
    </main>
    <!-- Footer -->
    <footer tabindex="0">
        <ul>
            <li> Kedai Asian Food - &copy; Copyright 2023  </li>
        </ul>
    </footer>
</body>

</html>